.flexbox-container {
display: flex;
gap: 2rem;
justify-content: center;
}

.flexbox-item {
  width: 200px;
  margin: 10px;

 
}

.flexbox-item-1 {
min-height: 300px;
text-align: justify;
display: inline-block;
vertical-align: middle;
}

.flexbox-item-2 {
min-height: 300px;  
}

.flexbox-item-3 {
min-height: 300px; 
text-align: justify;
display: inline-block;
vertical-align: middle;
}

.flexbox-item-4 {
  min-height: 300px; 
  text-align: justify;
  display: inline-block;
  vertical-align: middle;
  }

  .flexbox-item-5 {
    min-height: 300px; 
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
    }
    .flexbox-item-6 {
      min-height: 300px; 
      text-align: justify;
      display: inline-block;
      vertical-align: middle;
      }
.peter-coin{
  display: inline;
}
