


.flexbox-container {
display: flex;
gap: 2rem;
justify-content: center;

}

.flexbox-item {
  width: 300px;
  margin: 10px;


}

.flexbox-item-1 {
text-align: justify;
vertical-align: middle;
}

.flexbox-item-2 { 
}

.flexbox-item-3 {
text-align: justify;
vertical-align: middle;

}

.flexbox-item-4 {
  text-align: justify;
  vertical-align: middle;
  }

  .flexbox-item-5 { 
    text-align: justify;
    vertical-align: top;
    border: solid 5px red;
    }
    .flexbox-item-6 { 
      text-align: center;
      vertical-align: middle;
      }

.peter-coin{
  display: inline;
 
  ;
}
.peter.scroll {

}
.seaforth-crest {
  text-align: center;
}
