.title {
  font-size: 40px;
  font-size: 3.5vw;
  font-weight: 800;
  text-align: center; 
}

.welcome {
  font-family:fantasy;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;

}

.box{
  width: 50%;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin: auto;
  box-shadow: 5px 5px 10px;

  }

  .box-2 {
    width: 1;
    height: 24px;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px;
    
    
    
    
  }

  .box-2-font {
    font-size: 12px;
    text-align: left;
    vertical-align: center;
  }

.box-2-title {
  font-weight: bold;
  font-size: 16px;
  margin-left: 4px;
}

  .crest-instuctions {
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px; 
  }
  
  .back-home {
    font-size: 50px;
    margin-top: 20px;
    text-align: left;
    margin-left: -1700px;
   

    
    
  }

  .footer {
    margin-top: 40px;
    font-size: 12px;
    padding: 15px;
    padding-top: 20px;
    margin: 5px; 
  }

